*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #fff;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000;
  padding: 3rem;
  cursor: none; }

.secondary_cursor {
  width: 5rem;
  height: 5rem;
  border: 2px dotted black;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 2500;
  transition: all 0.1s linear; }

.main-cursor {
  transition: opacity 1s cubic-bezier(0.77, 0, 0.175, 1);
  animation: fadeIn 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
  mix-blend-mode: difference; }
  .main-cursor .main-cursor-background {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%; }

.secondary-cursor {
  width: 60px;
  height: 60px; }
  .secondary-cursor .cursor-background {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid black;
    position: relative; }
    .secondary-cursor .cursor-background:after, .secondary-cursor .cursor-background:before {
      content: "";
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background: white;
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      animation: fadeOut 0.75s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards; }
    .secondary-cursor .cursor-background:before {
      left: 10px; }
    .secondary-cursor .cursor-background:after {
      right: 10px; }

.slider-drag .cursor-background {
  animation: scaleUp 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards, bgUp 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards; }
  .slider-drag .cursor-background:after {
    animation: fadeIn 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards, translateRightDot 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards; }
  .slider-drag .cursor-background:before {
    animation: fadeIn 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards, translateLeftDot 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards; }

.slider-drag .main-cursor {
  animation: fadeOut 0.75s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards; }

.hamburger .cursor-background {
  animation: fadeOut 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards; }

.hamburger .main-cursor-background {
  animation: scaleUp 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes bgUp {
  from {
    background-color: transparent; }
  to {
    background-color: black; } }

@keyframes bgDown {
  from {
    background-color: black; }
  to {
    background-color: transparent; } }

@keyframes scaleUp {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.5); } }

@keyframes scaleDown {
  from {
    transform: scale(1.5); }
  to {
    transform: scale(1); } }

@keyframes translateLeftDot {
  from {
    transform: translate(20px, -50%); }
  to {
    transform: translate(0px, -50%); } }

@keyframes translateRightDot {
  from {
    transform: translate(-20px, -50%); }
  to {
    transform: translate(0px, -50%); } }

.navigation {
  font-family: "Open Sans", sans-serif; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: #fff;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 5rem;
    right: 5rem;
    z-index: 2000;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }
  .navigation__background {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    position: fixed;
    top: 5.5rem;
    right: 5.5rem;
    background-color: #fff;
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  .navigation__nav {
    height: 100vh;
    width: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    transition: all 0.8s cubic-bezier(0.57, -0.37, 0.44, 1.32); }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 700;
    padding: 1rem 1.8rem;
    text-decoration: none;
    color: #000;
    background-image: linear-gradient(120deg, transparent 50%, rgba(0, 0, 0, 0.8) 50%);
    background-size: 230%;
    transition: all 0.5s; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #fff;
    transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  .navigation__icon {
    position: relative;
    margin-top: 3rem;
    transition: all 0.2s; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #000;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navigation__icon::before {
      top: -0.8rem; }
    .navigation__icon::after {
      top: 0.8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 6rem;
  width: 9rem;
  transition: all 0.3s;
  overflow: hidden; }
  .card:hover {
    transform: scale(1.3);
    overflow: hidden;
    opacity: 1; }

.image {
  height: 6rem;
  width: 9rem; }

.explore {
  font-size: 6rem;
  font-weight: 500;
  position: absolute;
  text-shadow: 3px 3px 3px white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.each-project {
  width: inherit; }

.project-info {
  margin-left: 25vw;
  width: 70vw;
  height: 100%; }

.key-name {
  font-size: 1.6rem; }

.values {
  font-size: 1.6rem;
  font-weight: 500; }

.description {
  overflow-wrap: break-word;
  hyphens: auto;
  font-size: 1.6rem;
  font-weight: 500; }

.row {
  display: inline-block;
  width: 50%;
  text-align: left; }

.user-name {
  font-size: 4rem;
  font-weight: 600; }

.personal-info {
  height: 100%;
  width: 25vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 3rem;
  padding-left: 3rem; }

.add-btn {
  position: absolute;
  bottom: 1rem;
  display: inline-block;
  font-size: 3rem;
  font-weight: 500;
  border-bottom: 1.5px solid #000;
  transition: all 0.2s; }
  .add-btn:hover {
    background-color: #000;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px); }

.delete-btn {
  margin-top: 1.2rem;
  margin-bottom: 3rem; }

.modal-container {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2300; }
  .modal-container__content {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%) scale(0.75);
    width: 85%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 1;
    transition: all 0.5s 0.2s; }

.popup__close:link, .popup__close:visited {
  color: #000;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 1; }

.new-post-form {
  margin-left: 10rem;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: space-between; }

#add_new_btn {
  width: 45rem; }

.modal-title {
  text-align: center;
  padding-top: 3rem;
  font-size: 4rem; }

.loader {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid;
  border-color: #000 #000 transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite; }

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #000 #000;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center; }

.loader::before {
  width: 54px;
  height: 54px;
  border-color: #000 #000 transparent transparent;
  animation: rotation 1.5s linear infinite; }

@keyframes rotation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes rotationBack {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }

.home-page {
  position: relative;
  height: 90vh; }
  .home-page__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 9rem; }
  .home-page__add-btn {
    position: relative;
    top: 95%;
    margin-right: 3rem;
    color: #000;
    text-decoration: none; }

.login {
  height: 95vh; }

.form {
  width: 45rem;
  margin: 0 auto;
  margin-top: 5rem;
  height: 95vh; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all 0.3s;
    border-bottom: 3px solid #000; }
    .form__input::-webkit-input-placeholder {
      color: #000; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #000; }
      .form__input:focus:invalid {
        border-bottom: 3px solid #af0000; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__radio-group {
    width: 49%;
    display: inline-block; }
  .form__radio-input {
    display: none; }
  .form__btn-text {
    width: 100%;
    font-size: 1.8rem;
    color: #000;
    background-color: transparent;
    border: none;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #000;
    padding: 1rem 2rem;
    transition: all 0.2s; }
    .form__btn-text:hover {
      background-color: #000;
      color: #fff;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      transform: translateY(-2px); }
    .form__btn-text:active {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      transform: translateY(0); }
