.cursor {
    width: 2rem;
    height: 2rem;
    border: 2px solid white;
    border-radius: 50%;
    border-color: black;
    position: absolute;
    box-shadow: 2px -3px 41px -1px rgba(250,250,250,0.64);
    pointer-events: none;
    z-index: 2500;
    transform: translate(-50%, -50%) scale(1.4);
    mix-blend-mode: difference;
    background: white;
}

.secondary_cursor {
    width: 5rem;
    height: 5rem;
    border: 2px dotted black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 150;
    transition: all .1s linear;

}