*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //defines what 1rem is
}

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-black;
  padding: 3rem;
}
