.card {
  position: absolute;
  // top: 50%;
  // left: 50%;
  height: 150px;
  width: 200px;
  cursor: pointer;
  border: 4px solid #fff;
  transition: all 0.3s;
  overflow: hidden;


  &:hover {
    transform: scale(1.3) translate(-50%, -50%);
    overflow: hidden;
    opacity: 1;
  }
}
.image {
  height: 150px;
  width: 200px;
}
.explore {
  font-size: 6rem;
  font-weight: 500;
  position: absolute;
  text-shadow: 3px 3px 3px white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

