.personal-page {
  // height: 90vh;
  // display: flex;
  // justify-content: space-between;
}
.each-project {
  width: inherit;
}
.col {
}
.project-info {
  margin-left: 25vw;
  width: 70vw;
  height: 100%;

  // display: flex;
  // justify-content: space-evenly;
}
.key-name {
  font-size: 1.6rem;
}
.values {
  font-size: 1.6rem;
  font-weight: 500;
}

.description {
  overflow-wrap: break-word;
  hyphens: auto;
  font-size: 1.6rem;
  font-weight: 500;
}
.row {
  display: inline-block;
  width: 50%;
  text-align: left;
}
.user-name {
  font-size: 4rem;
  font-weight: 600;
}
.personal-info {
  height: 100%;
  width: 25vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 3rem;
  padding-left: 3rem;
}
.add-btn {
  position: absolute;
  bottom: 1rem;
  display: inline-block;
  font-size: 3rem;
  font-weight: 500;
  border-bottom: 1.5px solid $color-black;
}

.delete-btn {
  margin-top: 1.2rem;
  margin-bottom: 3rem;
}

.modal-container {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 9999;
  // opacity: 0;
  // visibility: hidden;
  // transition: all 0.3s;
}
