.project-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name-container {
    font-size: 6rem;
    border-bottom: 1px solid black;
}

.this-project-info {
    flex-direction: column;
    justify-content: flex-start;
    padding: 3rem;
    align-items: left; 
    font-style: italic;
}
 
.project-info-row {
    margin-left: 1rem;
    font-style: italic;
    width: 100%;
    text-align: left;
    font-size: 1.4rem;
}

.image-div {
    width: 50vw;
    height: 50vh;
}

.project-image {
    height: 50vh;
    margin-right: 2rem;
}

.add-review {
    position: relative;
    bottom: 0;
    display: inline-block;
    font-size: 19px;
    font-weight: 500;
    border-bottom: 1.5px solid;

    &:hover {
        transform: scale(1.2);
        overflow: hidden;
        opacity: 1;
      }
}

.add-review-container {
    font-size: 2rem;
}

.add-review-btn {
    display: flex;
    border: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: larger;
    margin-left: 10px;
}

.project-sep {
    display: inline-block;
    width: 48%;
}
